__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

.DS_Store

.venv/
venv/
env/

outputs/
reports/
checkpoints/
runs/

*.pt

!configs/*.yaml
!requirements.txt
!reports/
reports/*
!reports/gifs/
reports/gifs/*
!reports/gifs/test_005_*.gif
!reports/videos/
reports/videos/*
!reports/videos/test_005_*.mp4
